<nav id="navbar-example2"
    class="navbar navbar-expand-lg navbar-light <% if(route !== 'sponsors' && route !== 'hospitality' && route !== 'teams' && route !== 'testing') { %>fixed-top<% } %> text-center <% if(route === 'index') {%>py-5<% } else { %>py-2 bg-violent-violet border-bottom<% } %> px-0">
    <div class="container">
        <% if(route !== 'index') { %>
        <a href="/" class="navbar-brand">
            <img src="/images/logo.svg" width="100px" alt="Samgatha logo 2020">
        </a>
        <% } %>
        <button class="navbar-toggler ml-auto border-0" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto align-items-center">
                <li class="nav-item mx-3">
                    <a class="nav-link text-white" href="/events">Events</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link text-white" href="/shows">Pro Shows</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link text-white" href="/workshops">Informals And Workshop</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link text-white" href="/hospitality">Hospitality</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link text-white" href="/sponsors">Sponsors</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link text-white" href="/team">Meet The Team</a>
                </li>
                <li class="nav-item mx-3">
                    <a href="" class="btn btn-lg btn-outline-light rounded-0 mt-4 mt-sm-0">REGISTER</a>
                </li>
            </ul>
        </div>
    </div>
</nav>