<%- include('./partials/header') %>
<section class="hero d-flex align-items-center text-white">
    <%- include('./partials/navbar') %>
    <div class="row container-fluid justify-content-center mx-auto mt-5">
        <%- include('./partials/cards', {date: '27 March', route: route}) %>
    </div>
</section>
<%- include('./partials/footer') %>