<%- include('./partials/header') %>
<section class="hero text-white">
    <%- include('./partials/navbar') %>
    <div class="container">
        <%- include('./partials/cards', {date: '27 March', route: route}) %>
    </div>
</section>
<%- include('./partials/footer') %>