<%- include('./partials/header') %>

<section class="text-white">
    <%- include('./partials/navbar') %>
    <div class="container align-self-center mt-5">
        <h1>Instructions</h1>
        <ul class="lead">
            <li>Each person has to register individually – on the Samgatha site.</li>
            <li>On completion of registration, an acknowledgement mail will be sent to your email id.</li>
            <li>It is compulsory to bring your college ID card and the payment acknowledgement mail when you enter
                the campus.</li>
            <li>Faculty members are also requested to register for passes</li>
            <li>Please note that a limited number of seats are available which will be filled based on first-come,
                first-serve basis.</li>
        </ul>
        <h1>On reaching the campus</h1>
        <ul class="lead">
            <li>Students will have to make an entry on the register near the main gate.</li>
            <li>Female participants are requested to reach the campus before 10:00 pm on the day of arrival.</li>
            <li>Following this, participants who require accommodation must register at the adjacent Hospitality
                Desk by producing a soft-copy/printout of the acknowledgement mail sent to them.</li>
            <li>The participants must check out at the hospitality desk/main gate to acknowledge that they’ve left
                the institute.</li>
        </ul>
        <h1>How to reach?</h1>
        <ul class="lead">
            <li>IIITDM Kancheepuram is located in Kandigai, in Vandalur-Kelambakkam road, 18 kms from Tambaram.</li>
            <li>The best way to reach is by bus.</li>
            <li>55D takes you directly to IIITDM’s doorsteps. </li>
            <li>For other buses, Tambaram &rarr; Kandigai (bus) &rarr; IIITDMK (Auto at Kandigai bus stop).</li>
            <li>Buses are also available from Vandalur gate/zoo, which brings you straight to Kandigai.</li>
        </ul>
        <h1>Rules of stay</h1>
        <ul class="lead">
            <li>Smoking, drinking and other drug consumptions are strictly prohibited and necessary action will be
                taken by the institute if a participant is found to be in possession of these items.</li>
            <li>Any damage to institution facilities and property provided to the participants would result in
                serious action and necessary reimbursement charges would have to be dealt by the participants who
                are found guilty.</li>
            <li>Participants are expected to not create any kind of nuisance which might trouble other participants
                in the room.
            </li>
            <li>The college will not be responsible for any damage or loss of property or valuables stored in places
                of accommodation.</li>
            <li>Upon check-out, the Guest should settle all the accounts with regard to the services rendered and
                return the receipt to the organisers. </li>
            <li>The decision of organisers is final and binding in case of any dispute.</li>
        </ul>
        <p class="lead font-weight-bolder">Fare : Rs.150 per day(Non AC Accomodation)</p>
        <h1>FAQ</h1>
        <ol class="lead">
            <li>Do the accommodation charges include food?</li>
            <p>No, but you can make use of the canteens/food stalls available during Samgatha at your own
                expense.</p>
            <p>PS: Full accommodation charges will have to be paid.</p>

            <li>Can I register for accommodation after I arrive at IIITDM?</li>
            <p>Yes, the hospitality desk operates all the time and you can register with them anytime you
                want.</p>

            <li>Do I need different passports for the Pro-shows?</li>
            <p>No, the Samgatha passport covers for all your events occurring in IIITDM, except for
                informal and fun side events.</p>

            <li>Does IIIT have a curfew for in-time and out-time?</li>
            <p>Yes, students will be allowed to enter/exit at the main gate only at 06:00 – 22:30 hours.
            </p>

            <li>What are the documents I’m supposed to bring?</li>
            <p>Just the Samgatha passport and your institute ID card for verification.</p>

        </ol>
        <h1>Contact Us</h1>
        <p class="lead mb-0 font-weight-bolder">Hospitality Head</p>
        <p class="lead">Shanmuk</p>
        <p class="lead">9677480457</p>
    </div>
</section>

<%- include('./partials/footer') %>
