<%- include('./partials/header') %>

<section class="hero text-white">
    <%- include('./partials/navbar') %>
    <div class="container hero-text align-self-center mt-5">
        <h1>Instructions</h1>
        <p class="lead pr-5">
        1)Each person has to register individually – on the Samgatha site.
        2)On completion of registration, an acknowledgement mail will be sent to your email id.
        3)It is compulsory to bring your college ID card and the payment acknowledgement mail when you enter the campus.
**Faculty members should also register on the site and all the rules apply to them too.
**Please note that a limited number of seats are available which will be filled based on first-come, first-serve basis. 
</p>
        <h1>On reaching the campus </h1>
        <p class="lead pr-5">
            -Students will have to make an entry on the register near the main gate.
            -Female participants are requested to reach the campus before 10:00 pm on the day of arrival.
            -Following this, participants who require accommodation must register at the adjacent Hospitality Desk by producing a soft-copy/printout of the acknowledgement mail sent to them.
            -The participants must check out at the hospitality desk/main gate to acknowledge that they’ve left the institute.
        </p>
        <h1>How to Reach?</h1>
        <p class="lead pr-5">
        -IIITDM Kancheepuram is located in Kandigai, in Vandalur-Kelambakkam road, 18 kms from Tambaram.
        -The best way to reach is by bus.
        -55D takes you directly to IIITDM’s doorsteps. 
        -For other buses, Tambaram -> Kandigai (bus) -> IIITDMK (Auto at Kandigai bus stop).
        -Buses are also available from Vandalur gate/zoo, which brings you straight to Kandigai.
</p>
        <h1>Rules of stay</h1>
        <p class="lead pr-5">
        -Smoking, drinking and other drug consumptions are strictly prohibited and necessary action will be taken by the               institute if a participant is found to be in possession of these items.
        -Any damage to institution facilities and property provided to the participants would result in serious action and             necessary reimbursement charges would have to be dealt by the participants who are found guilty.
        -Participants are expected to not create any kind of nuisance which might trouble other participants in the room.
        -The college will not be responsible for any damage or loss of property or valuables stored in places of                        accommodation.
        -Upon check-out, the Guest should settle all the accounts with regard to the services rendered and return the receipt          to the organizers.
        -The decision of organisers is final and binding in case of any dispute.
        Fares :
        150/- per day (Non Ac Accomodation)
</p>

        <h1>FAQ</h1>
        <p class="lead pr-5">
1) Do the accommodation charges include food?
No, but you can make use of the canteens/food stalls available during Samgatha at your own expense.

2) Can I register for accommodation after I arrive at IIITDM?
Yes, the hospitality desk operates all the time and you can register with them anytime you want.
PS: Full accommodation charges will have to be paid.

3) Do I need different passports for the Pro-shows?
No, the Samgatha passport covers for all your events occurring in IIITDM, except for informal and fun side events.

4) Does IIIT have a curfew for in-time and out-time?
Yes, students will be allowed to enter/exit at the main gate only at 06:00 – 22:30 hours.

5) What are the documents I’m supposed to bring?
Just the Samgatha passport and your institute ID card for verification.

        </p>
        <h1>Contact us <h1>
        <p class="lead pr-5">
        Hospitality head : 99887766554
        </p>
    </div>
</section>

<%- include('./partials/footer') %>
