<%- include('./partials/header') %>

<section class="hero text-white">
    <%- include('./partials/navbar') %>
    <div class="container hero-text align-self-center mt-5">
        <h1>Instructions</h1>
        <p class="lead pr-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore debitis voluptatibus ab
            aspernatur,
            dignissimos, nesciunt quam corporis, totam atque quidem nobis? Dicta quidem quibusdam sit exercitationem,
            nemo
            enim dolore sunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. A sit ad deserunt magni sunt
            enim,
            esse deleniti dicta rem, perspiciatis at sequi quam nobis neque eveniet aliquid hic quisquam nam.</p>
        <h1>How to reach?</h1>
        <p class="lead pr-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore debitis voluptatibus ab
            aspernatur,
            dignissimos, nesciunt quam corporis, totam atque quidem nobis? Dicta quidem quibusdam sit exercitationem,
            nemo
            enim dolore sunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. A sit ad deserunt magni sunt
            enim,
            esse deleniti dicta rem, perspiciatis at sequi quam nobis neque eveniet aliquid hic quisquam nam.</p>
        <h1>Instructions</h1>
        <p class="lead pr-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore debitis voluptatibus ab
            aspernatur,
            dignissimos, nesciunt quam corporis, totam atque quidem nobis? Dicta quidem quibusdam sit exercitationem,
            nemo
            enim dolore sunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. A sit ad deserunt magni sunt
            enim,
            esse deleniti dicta rem, perspiciatis at sequi quam nobis neque eveniet aliquid hic quisquam nam.</p>
        <h1>How to reach?</h1>
        <p class="lead pr-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore debitis voluptatibus ab
            aspernatur,
            dignissimos, nesciunt quam corporis, totam atque quidem nobis? Dicta quidem quibusdam sit exercitationem,
            nemo
            enim dolore sunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. A sit ad deserunt magni sunt
            enim,
            esse deleniti dicta rem, perspiciatis at sequi quam nobis neque eveniet aliquid hic quisquam nam.</p>
    </div>
</section>

<%- include('./partials/footer') %>