<%- include('./partials/header') %>
<section class="hero d-sm-flex align-items-center text-white">
    <%- include('./partials/navbar') %>
    <div class="container-fluid text-gold-tips mt-4 mt-sm-0 pt-sm-5 px-2">
        <div class="row mx-0 justify-content-center">
            <div class="d-block text-center">
                <h1 class="display-3">Stay tuned!</h1>
                <h1>(and get excited)</h1>
                <p class="lead mb-0 text-white">We can't unveil the details just yet (sorry!) but we can say:</p>
                <p class="lead mb-0 font-weight-bolder text-white">circle this date</p>
                <h2 class="display-1 font-weight-bolder">MARCH 27</h2>
            </div>
        </div>
    </div>
</section>

<%- include('./partials/footer') %>