@font-face {
    font-family: 'blackoutsunrise';
    src: url('blackout_sunrise-webfont.woff2') format('woff2'),
        url('blackout_sunrise-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal; 
}