section.hero {
    height: 100vh;
}

div.scroll-wrapper {
    /* Chrome, opera, safari */
    scroll-behavior: smooth;
    display: flex;
    overflow-x: hidden;
    flex-wrap: nowrap;
    height: 65vh;
}

div.card {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: width 400ms;
}

div.card:nth-of-type(2n-1) {
    cursor: pointer;
}

div.card.workshops {
    background-image: url('/images/svg1.svg');
}

div.card.shows {
    background-image: url('/images/svg2.svg');
    color: #fff !important;
}

div.scroll-wrapper div.card {
    flex: 0 0 auto;
}

div.nav-left,
div.nav-right {
    z-index: 1;
    cursor: pointer;
    transition: all 400ms;
}

div.nav-left,
div.nav-right {
    opacity: 0.7;
}

div.nav-left:hover,
div.nav-right:hover {
    opacity: 1;
}