@media (min-width: 576px) {
    section.hero {
        height: 100vh;
    }

    div.scroll-wrapper {
        scroll-behavior: smooth;
        display: flex;
        overflow-x: hidden;
        flex-wrap: nowrap;
    }

    div.scroll-wrapper div.card {
        width: 45vh !important;
        flex: 0 0 auto;
    }
}

@media (max-width: 576px) {
    div.card:hover div.card-front {
        transform: rotateY(180deg);
    }

    div.card:hover div.card-back {
        transform: rotateY(0deg);
    }

    div.card-front {
        background-position: center;
        backface-visibility: hidden;
        transition: transform 1000ms cubic-bezier(0.265, -0.175, 0.805, -0.460) !important;
    }

    div.card-back {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        transform: rotateY(180deg);
        background-position: center;
        backface-visibility: hidden;
        transition: transform 1000ms cubic-bezier(0.265, -0.175, 0.805, -0.460) !important;
    }
}

div.card {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: width 400ms;
    width: auto !important;
    height: 65vh;
}

div.card-front {
    background-position: center;
}

div.card:nth-of-type(2n-1) {
    cursor: pointer;
}

div.card.workshops {
    background-image: url('/images/svg1.svg');
}

div.card.shows {
    background-image: url('/images/svg2.svg');
    color: #fff !important;
}


div.nav-left,
div.nav-right {
    z-index: 1;
    cursor: pointer;
    transition: all 400ms;
}

div.nav-left,
div.nav-right {
    opacity: 0.7;
}

div.nav-left:hover,
div.nav-right:hover {
    opacity: 1;
}