.rotate {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    -webkit-text-orientation: mixed;
    text-orientation: mixed;
    -webkit-transform: rotateZ(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotateZ(-180deg);
    font-weight: 700;
    color: #280b67;
}

i {
    cursor: pointer;
}

section.hero {
    height: 100vh;
}

div.hero-text {
    height: 60vh;
}

.noscroll {
    overflow-y: hidden !important;
}

.overlay {
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, );
    overflow-y: scroll;
}

.overlay .card {
    cursor: default !important;
}

.overlay .card .card-body {
    height: 99.99%;
}

/* scrollbar */
.os-scrollbar-track {
    height: 60%;
    top: 20%;
}

.overlay .os-scrollbar-track {
    height: 100%;
    top: 0;
}