.rotate {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotateZ(-180deg);
    font-weight: 700;
    color: #280b67;
}

body {
    background-image: linear-gradient(180deg, #280b67 0%, #0f0030 100%);
    background-repeat: no-repeat;
}

main {
    scroll-snap-type: x mandatory;
}

section.hero {
    height: 100vh;
}

div.hero-text {
    height: 60vh;
}

.overlay {
    top: 0;
    left: 0;
    z-index: 1000;
    background-image: linear-gradient(180deg, #280b67 0%, #0f0030 100%);
}

.overlay .card {
    cursor: default !important;
}

.overlay .card .card-body {
    height: 99.99%;
}

/* scrollbar */
.os-scrollbar-track {
    height: 60%;
    top: 20%;
}

.overlay .os-scrollbar-track {
    height: 100%;
    top: 0;
}