body {
    background-image: linear-gradient(180deg, #280b67 0%, #0f0030 100%);
    background-repeat: no-repeat;
}

section.hero {
    height: 100vh;
}

div.hero-text {
    overflow-y: hidden;
    overflow-x: scroll;
    height: 60vh;
}

/* scrollbar */
.os-scrollbar-track {
    height: 60%;
    top: 20%;
}