/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

html,
body {
    background-image: url('../images/bg.svg');
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}

.btn {
    font-weight: 500;
}


h1.display-1.text-gold-tips.text-left {
    line-height: 85%;
}

.rotate {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    -webkit-text-orientation: mixed;
    text-orientation: mixed;
    -webkit-transform: rotateZ(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotateZ(-180deg);
    font-weight: 700;
    color: #280b67;
}

section.hero {
    height: 100vh;
    width: 100vw;
}

h1.display-1 {
    font-family: 'blackoutsunrise', 'sans-serif';
    letter-spacing: 4px;
    font-size: 12rem;
}

div.daycount {
    text-shadow: -2px 2px 10px rgba(0, 0, 0, 0.5);
    -webkit-transform: skewY(10deg);
    -ms-transform: skewY(10deg);
    transform: skewY(10deg);
}

div.daycount:before {
    content: '';
    position: absolute;
    top: 0;
    right: -25px;
    width: 25px;
    height: 100%;
    background-color: #eaeaea;
    -webkit-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: skewY(-45deg);
    -ms-transform: skewY(-45deg);
    transform: skewY(-45deg);
    border: 1px solid #999;
}

div.daycount:after {
    content: '';
    position: absolute;
    top: -25px;
    right: 0;
    width: 100%;
    height: 25px;
    background-color: #FFF;
    -webkit-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    transform-origin: bottom right;
    -webkit-transform: skewX(-45deg);
    -ms-transform: skewX(-45deg);
    transform: skewX(-45deg);
    border: 1px solid #999;
}

div.daycount p:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -25px;
    width: 25px;
    height: 30%;
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: skewY(-45deg);
    -ms-transform: skewY(-45deg);
    transform: skewY(-45deg);
    background-color: #d3af04;
}

img.logo {
    width: 12.5rem;
}

div.social a {
    font-size: 15px;
    color: #FFF;
    -webkit-transition: color 300ms;
    -o-transition: color 300ms;
    transition: color 300ms;
}

div.social a:hover {
    color: #d3af04;
}

@media (min-width:1200px) {

    html,
    body {
        font-size: 1.1vw;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {

    html,
    body {
        font-size: 1.25vw;
    }
}

@media (min-width: 768px) and (max-width: 992px) {

    html,
    body {
        font-size: 1.5vw;
    }
}

@media (min-width: 576px) and (max-width: 768px) {

    html,
    body {
        font-size: 1.9vw;
    }
}

@media (max-width: 576px) {

    html,
    body {
        font-size: 2vw;
    }

    p {
        font-size: 2.8vw;
    }

    img {
        width: 35vw !important;
    }

    h5,
    h2 {
        font-size: 4vw !important;
    }

    a.btn-lg {
        font-size: 1.75rem;
        padding: 7.5px 15px;
    }

    h1.display-1 {
        letter-spacing: 5px;
    }
}